<a (click)="back()" class="button button-primary" href="#">Go Back</a>
<table class="u-full-width">
  <thead>
    <tr>
      <th class="">Name</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody (contextmenu)="fileMenu($event)">
    <tr *ngFor="let file of files" (dblclick)="gotoFolder(file)">
      <td *ngIf="!file.edit">
      	<span (click)="file.edit = true">{{file.name}}</span>
      </td>
      <td *ngIf="file.edit">
      <form (submit)="file.edit = false">
      	<input class="rename" name="rename" autofocus type="text" 
      		(submit)="file.edit = false" 
      		(blur)="file.edit = false" 
      		[ngModel]="file.name">
      </form>
      </td>
      <td>{{file.type}}</td>
      <td>{{file.size}}</td>
    </tr>
  </tbody>
</table>

<a (click)="test()" class="button button-primary" href="#">Test Files</a>
