th {
	padding: .5rem;
}

tbody tr {
	-webkit-user-select: none;  	/* Chrome all / Safari all */
    -moz-user-select: none;     	/* Firefox all */
    z-indexms-user-select: none;    /* IE 10+ */
  	user-select: none;          	/* Likely future */
  	cursor: pointer
}

td {
	height: 2em;
	padding: .5rem;
}

input.rename {
	max-height: 2em;
}

form {
	margin: 0;
	padding: 0;
}